@import url('bootstrap.css');
@import url('PTS55F-webfont.css');
@import url('PTS75F-webfont.css');

/* General */

html { overflow: auto; }

body { font-family: "pt_sansregular", Arial, sans-serif; background-color: #252528; color:#fff; }

h1,h2,h3,h4,p { color:white; }

hr { background-color: #d4d4d4; height: 1px; border: 0; }

p { padding-left: 5px; }


/* Upper section */

#logo_strength { position:absolute; top:5px; right:5px; }

#nowPlaying { height:230px; }

#playing img, #meVSWorld img { vertical-align:text-top; }

#currentTitle strong, #currentArtist strong { font-family: "pt_sansbold", Arial, sans-serif; }

#graph_container #graph_tabs { margin-top:10px; }
#graph_container .nav.nav-tabs a { color:#fff; }
#graph_container .nav.nav-tabs li.active a { color:#000; }
#graph_container .nav.nav-tabs li a:hover { color:#000; }

.small { margin-top:  -20px; }


/* Playlists */

#firstPlaylistContainer, #secondPlaylistContainer ,#thirdPlaylistContainer, #fourthPlaylistContainer{ height:150px;  overflow-y:auto; }

#firstPlaylist, #thirdPlaylist, #happy, #relaxed, #playing, #meVSWorld { padding-left: 5px; }

#thirdPlaylistContainer, #fourthPlaylistContainer { padding-left: -5px; }

#row1 { padding-bottom: 15px; }

#firstAlbumCoverContainer, #secondAlbumCoverContainer, #thirdAlbumCoverContainer, #fourthAlbumCoverContainer { position: relative; width:150px; }
#firstAlbumCoverContainer1, #secondAlbumCoverContainer1, #thirdAlbumCoverContainer1, #fourthAlbumCoverContainer1 { float:left; top:0; left:0; width:75px; height:75px; }
#firstAlbumCoverContainer2, #secondAlbumCoverContainer2, #thirdAlbumCoverContainer2, #fourthAlbumCoverContainer2 { float:left; top:0; right:0; width:75px; height:75px; }
#firstAlbumCoverContainer3, #secondAlbumCoverContainer3, #thirdAlbumCoverContainer3, #fourthAlbumCoverContainer3 { float:left; top:75px; left:0; width:75px; height:75px; }
#firstAlbumCoverContainer4, #secondAlbumCoverContainer4, #thirdAlbumCoverContainer4, #fourthAlbumCoverContainer4 { float:left; top:75px; left:0; width:75px; height:75px; }


/* Toggle switch */

/* Togglebox */
.togglebox input{ display:none; }
.togglebox{ float:right; top:-10px;right:5px; display:inline-block; border:1px solid #BBB; width:90px; height:30px; position:relative; border-radius:20px; color:#FFF; font-weight:bold; overflow:hidden; box-shadow:0 1px 0 #CCC; }
.togglebox label{ width:200%; height:100%; line-height:30px; border-radius:0.4em; position:absolute; top:0; left:0; z-index:1; font-size:1.1em; cursor:pointer; -webkit-transition:0.12s; -moz-transition:0.12s; transition:0.12s; }
.togglebox span{ position:absolute; right:-100px; }
.togglebox label::before{ content:'Me'; width:62px; float:left; margin-right:-16px; padding-right:13px; text-align:center; background:#007FEA; text-shadow:0 -1px 0px #093B5C; box-shadow:0 4px 5px -2px rgba(0,0,0,0.3) inset; }
.togglebox label b{ display:block; height:100%; width:30px; float:left; position:relative; z-index:1; border:1px solid #AAA; background:#F6F6F6; box-shadow:0 4px 0 -2px #F1F1F1 inset, 0 2em 2em -2em #AAA inset, 0 0 2px rgba(0,0,0,.5); border-radius:20px; }
.togglebox label:hover b{ background:#E5E5E5; }
.togglebox label::after{ content:'World'; width:62px; float:left; margin-left:-15px; padding-left:13px; text-align:center; color:#007FEA; background:#FFF; box-shadow:0 4px 5px -2px rgba(0,0,0,0.3) inset; }
.togglebox input:checked ~ label{ left:-60px; }